<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>short.me | URL Shortener</title>
    <link rel="shortcut icon" href="../views/icons/url.png" type="image/x-icon">

    <!-- BOOTSTRAP CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <!-- CONTAINER STARTS -->
    <div class="container">
        <h1>URL Shortener</h1>
    <form action="" method="POST" class="my-4 form-inline">
    <label for="fullURL" class="sr-only">URL</label>
    <input type="url" name="fullURL" id="fullURL" placeholder="Enter or Paste long URL" 
    required class="form-control col mr-2">
    <button class="btn btn-success" type="submit">Short Me</button>
</form>

<table>
    <thead>
        <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="https://github.com/3ncrypt3db0t">https://github.com/3ncrypt3db0t</a></td>
            <td><a href="url/abcx64">url/abcx64</a></td>
            <td>10</td>
        </tr>
    </tbody>
</table>
    </div>
    
</body>
</html>