/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* ROOT */
:root {
    --font: 'Poppins', sans-serif;
    --body-bg: linear-gradient(135deg, #7fffd4, #8a2be2);
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
}

/* BODY */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background: var(--body-bg);
}