/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* ROOT */
:root {
    --font: 'Poppins', sans-serif;
    --body-bg: linear-gradient(180deg, #7fffd4, #8a2be2);
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
}

/* BODY */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background: var(--body-bg);
}

/* WRAPPER */
.wrapper {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
}

.wrapper form {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

/* FORM */
form input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 120px 0 45px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    caret-color: #ff4500;
    transition: all 0.1s ease;
}

form .url-icon {
    position: absolute;
    width: 50px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none;
}

form input::placeholder {
    color: #c4c4c4;
}

form input:focus::placeholder {
    color: #d9d989;
}

form button {
    position: absolute;
    right: 6px;
    padding: 5px 15px;
    border: none;
    color: #fff;
    background: #9acd32;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

form button:hover {
    background: #32cd32;
}

form input:valid {
    border-color: #008b8b;
}

form input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

form input:valid ~ .url-icon {
    color: #ff8c00;
}

