/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* ROOT */
:root {
    --font: 'Poppins', sans-serif;
    --body-bg: linear-gradient(180deg, #7fffd4, #8a2be2);
    --popup-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    --blur-effect: rgba(0, 0, 0, 0.6);
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
}

/* BODY */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background: var(--body-bg);
}

/* WRAPPER */
.wrapper {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
}

.wrapper form {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

/* FORM */
form input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 120px 0 45px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    caret-color: #ff4500;
    transition: all 0.1s ease;
}

form .url-icon {
    position: absolute;
    width: 50px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none;
}

form input::placeholder {
    color: #c4c4c4;
}

form input:focus::placeholder {
    color: #d9d989;
}

form button {
    position: absolute;
    right: 6px;
    padding: 5px 15px;
    border: none;
    color: #fff;
    background: #9acd32;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

form button:hover {
    background: #32cd32;
}

form input:valid {
    border-color: #008b8b;
}

form input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

form input:valid ~ .url-icon {
    color: #ff8c00;
}

/* COUNT */
.wrapper .count {
    margin: 20px 0;
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
}

.count span {
    font-size: 17px;
}

.count span span {
    font-weight: 500;
}

.wrapper a {
    color: #000;
}

.count a:hover {
    color: #b22222
}

.wrapper .urls-area {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    max-height: 450px;
    overflow-y: scroll;
}

.urls-area::-webkit-scrollbar {
    width: 0px;
}

.urls-area :is(.title, .data) {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.urls-area li {
    list-style: none;
    width: 100%;
    border-right: 1px solid #ddd;
}

.urls-area li:last-child {
    border-right: 0px;
}

.urls-area .title li {
    text-align: center;
    background: #f2f2f2;
    padding: 10px 0;
}

.urls-area .data li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    word-break: break-all;
}

.urls-area .data:nth-child(odd) {
    background: #f2f2f2;
}

.urls-area .data li:last-child a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urls-area .data li a:hover {
    color: #ff4500;
    text-decoration: underline;
}

.urls-area .data li:last-child a:hover {
    color: #ff4500; 
    text-decoration: none;
}

.urls-area li:nth-child(1) {
    max-width: 30%;
}

.urls-area li:nth-child(2) {
    max-width: 45%;
}

.urls-area li:nth-child(3) {
    max-width: 11%;
}

.urls-area li:nth-child(4) {
    max-width: 14%;
}

/* BLUR EFFECTS */
.blur-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background: var(--blur-effect);
    display: none;
}

/* POPUP BOX */
.popup-box {
    position: absolute;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    max-width: 480px;
    width: 100%;
    top: 50%;
    left: 50%;
    box-shadow: var(--popup-box-shadow);
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

/* ToDO -> Add show class in JS */
.popup-box.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup-box .info-box {
    color: #0f5753;
    background: #bef4f1;
    border: 1px solid #7de8e3;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
}

/* TODO -> Add Error Class in JS*/
.info-box.error {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
}

.popup-box form {
    position: relative;
    margin-top: 10px;
}

.popup-box form label {
    font-size: 18px;
}

.popup-box form .copy-icon {
    position: absolute;
    right: 10px;
    z-index: 1;
    top: 50%;
    transform: translateY(-85%);
    font-size: 20px;
    cursor: pointer;
}

form .copy-icon:hover {
    color: #9932cc;
}

.popup-box form input {
    height: 45px;
    border: 1px solid #ccc;
    padding: 0 35px 0 15px;
    margin-top: 3px;
}

.popup-box form button {
    position: relative;
    right: 0px;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
}